/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>


#define DEFAULT 0
#define SYMBOLS   1
#define ADJUST   2
#define NAVIG  3
#define NUMBERS  3

/ {
        keymap {
                compatible = "zmk,keymap";

                DEFAULT {
// -------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |   BKSP    |
// | ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |    '      |
// | GUI |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT(RET) |
//                         | ALT | LWR | SPC | RSE  | ALT |
                        bindings = <
            &kp TAB &kp Q &kp W &kp F &kp P &kp B &kp J &kp L &kp U &kp Y &kp COLN &kp BSPC
            &kp ESC &kp A &kp R &kp S &kp T &kp G &kp M &kp N &kp E &kp I &kp O &kp QUOT
            &kp LGUI &kp Z &kp X &kp C &kp D &kp V &kp K &kp H &kp COMM &kp DOT &kp SLSH &kp RALT
                     &kp LSHFT &mo NAVIG   &lt NUMBERS RET   &lt SYMBOLS SPACE &mo ADJUST
                        >;
                };

                SYMBOLS {
// ------------------------------------------------------------------------------------
// |    |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      DEL    |
// |    |  _  |  +  |  {  |  }  | "|" |   | LFT | DWN |  UP | RGT |  `  |       ~     |
// |    | ESC | GUI | ALT | CAPS|  "  |   | HOME| END | PGUP| PGDN| PRSC| SHFT(SPACE) |
//                       |     |     | RET | ADJ |     |
                        bindings = <
            &kp TAB 
            &kp EXLM
            &kp AT
            &kp HASH
            &kp DLR
            &kp PERC
            &kp CIRC
            &kp AMPR
            &kp BSLS
            &kp QUES
            &kp NO
            &kp BSPC
            &kp ESC
            &kp SCLN
            &kp PEQL
            &kp LCBR
            &kp LBRC
            &kp LPRN
            &kp RPRN
            &kp RBRC
            &kp RCBR
            &kp QUOT
            &kp TILD
            &kp NO
            &kp TRNS
            &kp NO
            &kp NO
            &kp DQUO
            &kp COLN
            &kp PMNS
            &kp PLUS
            &kp ASTR
            &kp LT
            &kp GT
            &kp PSLS
            &kp NO
                     &kp LSHFT &mo NAVIG   &lt NUMBERS RET   &lt SYMBOLS SPACE &mo ADJUST
                        >;
                };

                NAVIG {
            &kp NO 
            &kp NO 
            &kp NO 
            &kp NO 
            &kp NO 
            &kp NO 
            &kp NO 
            &kp PGUP 
            &kp NO 
            &kp NO 
            &kp NO 
            &kp BSPC 
            &kp NO 
            &kp LCTL 
            &kp LGUI 
            &kp LALT 
            &kp NO 
            &kp NO 
            &kp F12 
            &kp LEFT 
            &kp UP 
            &kp DOWN 
            &kp RGHT 
            &kp F11 
            &kp LSFT 
            &kp NO 
            &kp NO 
            &kp C 
            &kp D 
            &kp V 
            &kp NO 
            &kp PGDN 
            &kp NO 
            &kp NO 
            &kp NO 
            &kp NO 
                                 &kp LSHFT &mo NAVIG   &lt NUMBERS RET   &lt SYMBOLS SPACE &mo ADJUST

                        >;
                };

                NUMBERS {
            &kp NO",
             &kp NO",
             &kp NO",
             &kp NO",
             &kp NO",
             &kp NO",
             &kp PMNS",
             &kp N7",
             &kp N8",
             &kp N9",
             &kp NO",
             &kp BSPC",
             &kp NO",
             &kp NO",
             &kp NO",
             &kp NO",
             &kp NO",
             &kp PAST",
             &kp PPLS",
             &kp N4",
             &kp N5",
             &kp N6",
             &kp PEQL",
             &kp NO",
             &kp NO",
             &kp NO",
             &kp NO",
             &kp NO",
             &kp NO",
             &kp PCMM",
             &kp PDOT",
             &kp N1",
             &kp N2",
             &kp N3",
             &kp PSLS",
                &kp LSHFT &mo NAVIG   &lt NUMBERS RET   &lt SYMBOLS SPACE &kp N0

                        >;
                };
        };
};
